@import "../../../style.scss";

dialog {
  top: 5vh;
  z-index: 20;
  height: 75vh;
  width: 75vw;
  position: fixed;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  background-color: $natureDarkGreen;
  color: white;

  .top-text {
    p {
      width: 100%;
      margin-left: 2vw;
      font-size: 30px;
    }
  }

  button {
    height: 40px;
    width: 40px;
    background-color: $natureOrange;
    color: black;
    font-size: 25px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    position: fixed;
  }

  img {
    margin-left: 17.5vw;
    width: 40vw;
  }

  .entry-div {
    background-color: $natureOrange;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    margin: 10px;
  }

  .uniqueID-form {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: solid black;
    color: black;
    background-color: white;

    button {
      width: 56vw;
      position: relative;
      color: white;
      border-radius: 0px;
      font-size: 16px;
    }

    input {
      width: 29.5vw;
      height: 30px;
    }

    textarea {
      width: 55vw;
      height: 150px;
    }
  }
}